
- Check for RPMDB and YUM Lock
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/rpmdb_check.sh" -threads -auto2 -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Update vendortools. 
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/system_vendortools_update.sh -a v_BUNDLE" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Validate firmware and update if required
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/validate_firmware.py -u -t -a stable --log" -host_status any -cluster_status any -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Check for RPMDB and YUM Lock
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/rpmdb_check.sh" -threads -auto2 -auto2 -property "sudo_cmd_line_trunk_fix=1"

-Update host to latest bundle
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/system_update.sh -a v_BUNDLE" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"
