
- Check for RPMDB and YUM Lock
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/rpmdb_check.sh" -threads -auto2 -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Update vendortools.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/system_vendortools_update.sh -a v_BUNDLE" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Validate firmware and update if required
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/validate_firmware.py -u -t -a stable" -host_status any -cluster_status any -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Check for RPMDB and YUM Lock
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/rpmdb_check.sh" -threads -auto2 -auto2 -property "sudo_cmd_line_trunk_fix=1"

-Update host to latest bundle
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/system_update.sh -a v_BUNDLE" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Backup Grub default config.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "cp /etc/default/grub /etc/default/grub_v_CASE.bak" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Replace/Remove desired entries from GRUB.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "sed -i 's/processor.max_cstate=0 intel_idle.max_cstate=0 //' /etc/default/grub" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Create new grub configuration with changed profile.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "/usr/sbin/grub2-mkconfig -o /boot/grub2/grub.cfg" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Diff the old and new GRUB file.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "/usr/bin/diff /etc/default/grub /etc/default/grub_v_CASE.bak | /usr/bin/xargs -0" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Check Grub.cfg
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "/usr/bin/stat /boot/grub2/grub.cfg ; /usr/bin/date" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"
