All actions take place on the release host using packaged release runner. Call KZ via

katzmeow.pl --case v_CASENUM --impl


v_CLUSTER

- set your DC env
Exec: DC=v_DATACENTER

-Copy remote scripts to the target hosts
release_runner.pl -forced_host v_HOSTS -force_update_bootstrap -c sudo_cmd -m "ls" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

-then bigipcheck make sure we are all green before proceeding
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product spellchecker -c bigipcheck -d -threads -auto2
Manual: check the above output to make sure the service is available before proceeding

-disable monitor once you have manually checked current state 
Exec_with_creds: /opt/cpt/bin/nagios_monitor.py -H v_HOSTS -c disable -m ops-monitor-v_DATACENTER

-remove from pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product spellchecker -c remove_from_pool -host v_HOSTS -threads -auto2

- Stop Splunk
release_runner.pl  -forced_host v_HOSTS -c sudo_cmd -m "su - appmon -c 'source .p4include;/home/appmon/current/sfdc-splunk-forwarder/splunk/build/ant stop'" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Stop the running application
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product spellchecker -c stop_server -host v_HOSTS -threads -auto2

- Execute the update script
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/update_glibc.sh" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Reboot the host
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "reboot" -property "ssh_timeout=15" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Check the host is online
Exec: ~/check_reconnect.py -H v_HOSTS

- Verify glibc versions
release_runner.pl -forced_host v_HOSTS -c cmd -m "rpm -qa | grep glibc; rpm -qa | grep nscd" -threads -auto2

- Start the application
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product spellchecker -c start_server -host v_HOSTS -threads -auto2

- Start SPlunk
release_runner.pl  -forced_host v_HOSTS -c sudo_cmd -m "su - appmon -c 'source .p4include;/home/appmon/current/sfdc-splunk-forwarder/splunk/build/ant start'" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

-add to pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product spellchecker -c  add_to_pool -host v_HOSTS -threads -auto2

-once you have checked monitoring enable monitoring
Exec_with_creds: /opt/cpt/bin/nagios_monitor.py -H v_HOSTS -c enable -m ops-monitor-v_DATACENTER

- Patchset completed comment
Exec: echo "host v_HOSTS ghost patching completed"

