
-Copy remote scripts to the target hosts
release_runner.pl -forced_host v_HOSTS -force_update_bootstrap -c sudo_cmd -m "ls" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"


-Validate hosts are in pool and no issues with the pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product pbsgeo -c bigipcheck -threads -auto2

- Disable nagios monitoring
Exec_with_creds: /opt/cpt/bin/nagios_monitor.py -H v_HOSTS -c disable -m ops-monitor-v_DATACENTER

- remove from pool
- If RR command fails, to remove from pool manually, login into the big ip and disable form within the pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product pbsgeo -device_role v_ROLE -host v_HOSTS -c remove_from_pool -auto2

- Stop the running application
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "su - sfdc -c '/home/sfdc/current/pbspectrum/pbspectrum/build/ant -q stop'" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Stop Splunk
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "su - appmon -c 'source .p4include;/home/appmon/current/sfdc-splunk-forwarder/splunk/build/ant stop'" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Execute the update script
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/update_glibc.sh" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Reboot the host
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "reboot" -property "ssh_timeout=15" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Check the host is online
Exec: ~/check_reconnect.py -H v_HOSTS

- Verify glibc versions
release_runner.pl -forced_host v_HOSTS -c cmd -m "rpm -qa | grep glibc; rpm -qa | grep nscd" -threads -auto2

- Start the application (pbsgeo takes several minutes to start up)
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "su - sfdc -c '/home/sfdc/current/pbspectrum/pbspectrum/build/ant -q start'" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- validate app is up.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "ps aux|grep pbs|grep -v grep" -auto2 -property "sudo_cmd_line_trunk_fix=1"
Manual: Validate that pbs geo process is running above.

- Start Splunk
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "su - appmon -c 'source .p4include;/home/appmon/current/sfdc-splunk-forwarder/splunk/build/ant start'" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- add to pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product pbsgeo -device_role v_ROLE -host v_HOSTS -c add_to_pool -auto2

- Enable nagios monitoring
Exec_with_creds: /opt/cpt/bin/nagios_monitor.py -H v_HOSTS -c enable -m ops-monitor-v_DATACENTER

-Validate hosts are in pool and no issues with the pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product pbsgeo -c bigipcheck -d -threads -auto2

- test endpoint connectivity.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m 'curl localhost:8080/validateDeployment.jsp' -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Validate that the hosts have been patched and are running the correct version
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/validate_patchset.py --bundle v_BUNDLE" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

Exec: echo "Host v_HOSTS ghost patching completed"
