-All actions take place on the release host using packaged release runner. Call KZ via

-katzmeow.pl --case v_CASENUM --impl


-v_CLUSTER

- set your DC env
Exec: DC=v_DATACENTER


- create a local remote_transfer directory

Exec: mkdir -p ~/releaserunner/remote_transfer

- the get the update script:
Exec: cd ~/releaserunner/remote_transfer
Exec: svn export svn://vc-v_DATACENTER/subversion/tools/dcc/update_glibc.sh

- then get the check_reconnect script
Exec: cd ~
Exec: svn export svn://vc-lon/subversion/tools/automation/scripts/myscripts/donal/check_reconnect.py

-RR based commands
-Copy remote scripts to the target hosts

release_runner.pl -forced_host v_HOSTS -force_update_bootstrap -c sudo_cmd -m "ls" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

-Validate hosts are in pool and no issues with the pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product pbspectrum -c bigipcheck -threads -auto2

-disable monitor
release_runner.pl -c disable_host_monitor -forced_host v_HOSTS -forced_monitor_host v_CLUSTER-monitor-v_DATACENTER.ops.sfdc.net -threads -auto2

- remove from pool
- If RR command fails, to remove from pool manually, login into the big ip and disable form within the pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product pbspectrum -device_role pbsmatch -host v_HOSTS -c remove_from_pool -auto2

- Stop the running application
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "su - sfdc -c '/home/sfdc/current/pbspectrum/pbspectrum/build/ant -q stop'" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Stop Splunk
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "su - appmon -c 'source .p4include;/home/appmon/current/sfdc-splunk-forwarder/splunk/build/ant stop'" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Execute the update script
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/update_glibc.sh" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Reboot the host
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "reboot" -property "ssh_timeout=15" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Check the host is online
Exec: ~/check_reconnect.py -H v_HOSTS

- Verify glibc versions
release_runner.pl -forced_host v_HOSTS -c cmd -m "rpm -qa | grep glibc; rpm -qa | grep nscd" -threads -auto2

- Start the application
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "su - sfdc -c '/home/sfdc/current/pbspectrum/pbspectrum/build/ant -q start'" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- validate app is up.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "ps aux|grep pbs|grep -v grep" -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Start Splunk
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "su - appmon -c 'source .p4include;/home/appmon/current/sfdc-splunk-forwarder/splunk/build/ant start'" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- add to pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product pbspectrum -device_role pbsmatch -host v_HOSTS -c add_to_pool -auto2

- Enable nagios monitoring
release_runner.pl -c enable_host_monitor -forced_host v_HOSTS -forced_monitor_host v_CLUSTER-monitor-v_DATACENTER.ops.sfdc.net -threads -auto2

-Validate hosts are in pool and no issues with the pool

- test endpoint connectivity.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m 'curl localhost:8080/validateDeployment.jsp' -auto2 -property "sudo_cmd_line_trunk_fix=1"

Exec: echo "Host v_HOSTS ghost patching completed"
