Exec_with_creds: /opt/cpt/bin/check_prod.py -i v_CLUSTER -l primary

-RR based commands
-Copy remote scripts to the target hosts
release_runner.pl -forced_host v_HOSTS -force_update_bootstrap -c sudo_cmd -m "ls" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"


- Delete cptrelease file
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "rm -rf /etc/cptrelease" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Write patching data in GUS
Exec_with_creds: /opt/cpt/update_lh.py -l --case v_CASE --host v_HOSTS

- Set the boot device to HDD
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/manage_bootdevice.py -s -d HDD" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

-Validate hosts are in pool and no issues with the pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product sitesproxy -c bigipcheck -threads -auto2 -d

- Disable GOC++ alerts ("enable" alert suppression)
Exec_with_creds: /opt/cpt/cptops_logicalhost_alerts.py -a enable -H v_HOSTS

-Remove from pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product sitesproxy -device_role v_ROLE -host v_HOSTS -c remove_from_pool -threads -auto2

- Record Siteproxy status.
release_runner.pl --forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/manage_service.py -n sitesproxy -r -i " -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Stop Siteproxy status.
release_runner.pl --forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/manage_service.py -n sitesproxy -k -i " -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"


v_INCLUDE

- Reboot the host
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "reboot" -property "ssh_timeout=15" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

-Check the host is online
Exec_with_creds: /opt/cpt/bin/check_reconnect.py -H v_HOSTS

-Validate that the hosts have been patched and are running the correct version
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/validate_patchset.py --bundle v_BUNDLE" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Start Siteproxy.
release_runner.pl --forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/manage_service.py -n sitesproxy -s -i " -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

-Validate the max file descriptors as squid startup can be problematic target is 65k if it fails do a stop and start to restart it.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/check_maxfs_desc.py" -auto2 -property "sudo_cmd_line_trunk_fix=1"


-Test endpoint connectivity.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m './remote_transfer/check_proxy_endpoints.py -p 8084' -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m './remote_transfer/check_proxy_endpoints.py -p 8085' -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

-Add to pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product sitesproxy -device_role v_ROLE -host v_HOSTS -c add_to_pool -threads -auto2

- Enable GOC++ alerts ("disable" alert suppression)
Exec_with_creds: /opt/cpt/cptops_logicalhost_alerts.py -a disable -H v_HOSTS

-Validate hosts are in pool and no issues with the pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -product sitesproxy -c bigipcheck -d -threads -auto2

- Update Patching data in GUS
Exec_with_creds: /opt/cpt/update_lh.py --case v_CASE --host v_HOSTS --etime

Exec: echo "Host v_HOSTS OS Bundle patching completed"
