-Copy remote scripts to the target hosts
release_runner.pl -forced_host v_HOSTS -force_update_bootstrap -c sudo_cmd -m "ls" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Delete cptrelease file
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "rm -rf /etc/cptrelease" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Write patching data in GUS
Exec_with_creds: /opt/cpt/update_lh.py -l --case v_CASE --host v_HOSTS

- Check for RPMDB and YUM Lock
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/rpmdb_check.sh" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Set the boot device to HDD
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/manage_bootdevice.py -s -d HDD" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Disable GOC++ alerts ("enable" alert suppression)
Exec_with_creds: /opt/cpt/cptops_logicalhost_alerts.py -a enable -H v_HOSTS

- Record Kaiju-agent,watchdog service status
release_runner.pl --forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/manage_service.py -n kaiju-agent,kaiju-watchdog -r -i" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Stop Kaiju-agent,watchdog service
release_runner.pl --forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/manage_service.py -n kaiju-agent,kaiju-watchdog -k -i" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

v_INCLUDE

- Reboot the host
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "reboot" -property "ssh_timeout=15" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Wait for the hosts to boot up
Exec_with_creds: /opt/cpt/bin/check_reconnect.py -H v_HOSTS

-Validate that the hosts have been patched and are running the correct version
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/validate_patchset.py --bundle v_BUNDLE" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Validate kaiju-agent,watchdog is started.
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/manage_service.py -n kaiju-agent,kaiju-watchdog -i -s" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Validate app
Exec: /opt/cpt/bin/check_http_code.py -H v_HOSTS -P 9090

- Update Patching data in GUS
Exec_with_creds: /opt/cpt/update_lh.py --case v_CASE --host v_HOSTS --etime

Exec: echo "Host v_HOSTS system patching completed"

- Enable GOC++ alerts ("disable" alert suppression)
Exec_with_creds: /opt/cpt/cptops_logicalhost_alerts.py -a disable -H v_HOSTS

- Auto pause case if case status is not equal to In Progres.
Exec_with_creds: /opt/cpt/gus_case_mngr.py -c v_CASE --pause -y
