- kinit for zshrc workaround
Exec: kinit

- workaround for zshrc
Exec: for i in $(echo v_HOSTS | sed 's/,/ /g'); do ssh -o StrictHostKeyChecking=no ${i} "touch .zshrc" 2>/dev/null; done

-Copy remote scripts to the target hosts
release_runner.pl -forced_host v_HOSTS -force_update_bootstrap -c sudo_cmd -m "ls" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Disable nagios monitoring
Exec_with_creds: /opt/cpt/bin/nagios_monitor.py -H v_HOSTS -c disable

-Validate web hosts are in pool and no issues with the pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -host v_HOSTS -product web-sfdc -property "domain_override=ops.sfdc.net" -c bigipcheck -auto2 -threads -d

- remove web hosts from pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -host v_HOSTS -product web-sfdc -property "min_f5_percentage=0,domain_override=ops.sfdc.net" -c remove_from_pool -auto2 -threads

-stop all web apps
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -host v_HOSTS -product web-sfdc -property "domain_override=ops.sfdc.net" -c stop_server -auto2 -threads

- Stop Splunk
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -host v_HOSTS -product sfdc-splunk-forwarder -property "domain_override=ops.sfdc.net" -c stop_server -auto2 -threads

- Execute the update script
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/system_update.sh -a v_BUNDLE -p" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Reboot the host
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "reboot" -property "ssh_timeout=15" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Wait for the hosts to boot up
Exec: ~/check_reconnect.py -H v_HOSTS

- Validate that the hosts have been patched and are running the correct version
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/validate_patchset.py --bundle v_BUNDLE" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

-start all apps on web hosts
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -host v_HOSTS -product web-sfdc -property "domain_override=ops.sfdc.net" -c start_server -auto2 -threads

- Start Splunk
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -host v_HOSTS -product sfdc-splunk-forwarder -property "domain_override=ops.sfdc.net" -c start_server -auto2 -threads

- add web hosts to pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -host v_HOSTS -product web-sfdc -property "domain_override=ops.sfdc.net" -c add_to_pool -auto2 -threads

-Validate web hosts are in pool and no issues with the pool
release_runner.pl -invdb_mode -superpod v_SUPERPOD -cluster v_CLUSTER -host v_HOSTS -product web-sfdc -property "domain_override=ops.sfdc.net" -c bigipcheck -auto2 -threads -d

-enable monitoring on appropriate monitor host for web hosts
Exec_with_creds: /opt/cpt/bin/nagios_monitor.py -H v_HOSTS -c enable
