- kinit for zshrc workaround
Exec: kinit

- workaround for zshrc
Exec: for i in $(echo public-webproddb1-1-v_DATACENTER,public-webproddb2-1-v_DATACENTER,public-webstgdb1-1-v_DATACENTER,public-webapp2-1-v_DATACENTER,v_HOSTS | sed 's/,/ /g'); do ssh -o StrictHostKeyChecking=no ${i} "touch .zshrc" 2>/dev/null; done

-Copy remote scripts to the target hosts
release_runner.pl -forced_host public-webapp2-1-v_DATACENTER,v_HOSTS -force_update_bootstrap -c sudo_cmd -m "ls" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"


- Set the boot device to HDD
release_runner.pl -forced_host public-webapp2-1-v_DATACENTER,v_HOSTS -c sudo_cmd -m "./remote_transfer/manage_bootdevice.py -s -d HDD" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Disable nagios monitoring
Exec_with_creds: /opt/cpt/bin/nagios_monitor.py -H public-webproddb1-1-v_DATACENTER,public-webstgdb1-1-v_DATACENTER,public-webproddb2-1-v_DATACENTER,v_HOSTS -c disable

-Validate web hosts are in pool and no issues with the pool
release_runner.pl -invdb_mode -superpod NONE -cluster WEBSTAGE-WAS -product web-stage -property "domain_override=ops.sfdc.net" -c bigipcheck -auto2 -threads -d

- remove web hosts from pool
release_runner.pl -invdb_mode -superpod NONE -cluster WEBSTAGE-WAS -product web-stage -property "domain_override=ops.sfdc.net" -c remove_from_pool -auto2 -threads

-stop all web apps
release_runner.pl -invdb_mode -superpod NONE -cluster WEBSTAGE-WAS -product web-stage -property "domain_override=ops.sfdc.net" -c stop_server -auto2 -threads

- Stop Splunk
release_runner.pl -invdb_mode -superpod NONE -cluster WEBSTAGE-WAS -product sfdc-splunk-forwarder -property "domain_override=ops.sfdc.net" -c stop_server -auto2 -threads

- stop DBs
Manual: Engage DBEng to bring the databases down on public-webproddb1-1-v_DATACENTER and public-webproddb2-1-v_DATACENTER and public-stgdb1-1-v_DATACENTER.


v_INCLUDE
 
- Reboot the host
release_runner.pl -forced_host public-webapp2-1-v_DATACENTER,v_HOSTS -c sudo_cmd -m "reboot" -property "ssh_timeout=15" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- Wait for the hosts to boot up
Exec: /opt/cpt/bin/check_reconnect.py -H public-webapp2-1-v_DATACENTER,v_HOSTS

- Validate that the hosts have been patched and are running the correct version
release_runner.pl -forced_host public-webapp2-1-v_DATACENTER,v_HOSTS -c sudo_cmd -m "./remote_transfer/validate_patchset.py --bundle v_BUNDLE" -threads -auto2 -property "sudo_cmd_line_trunk_fix=1"

- start DBs
Manual: Engage DBEng to bring the databases up on public-webproddb1-1-v_DATACENTER and public-webproddb2-1-v_DATACENTER and public-stgdb1-1-v_DATACENTER.

-start all apps on web hosts
release_runner.pl -invdb_mode -superpod NONE -cluster WEBSTAGE-WAS -product web-stage -property "domain_override=ops.sfdc.net" -c start_server -auto2 -threads

- Start Splunk
release_runner.pl -invdb_mode -superpod NONE -cluster WEBSTAGE-WAS -product sfdc-splunk-forwarder -property "domain_override=ops.sfdc.net" -c start_server -auto2 -threads

- add web hosts to pool
release_runner.pl -invdb_mode -superpod NONE -cluster WEBSTAGE-WAS -product web-stage -property "domain_override=ops.sfdc.net" -c add_to_pool -auto2 -threads

-Validate web hosts are in pool and no issues with the pool
release_runner.pl -invdb_mode -superpod NONE -cluster WEBSTAGE-WAS -product web-stage -property "domain_override=ops.sfdc.net" -c bigipcheck -auto2 -threads -d

-enable monitoring on appropriate monitor host for web hosts
Exec_with_creds: /opt/cpt/bin/nagios_monitor.py -H v_HOSTS,public-webstgdb1-1-v_DATACENTER,public-webproddb1-1-v_DATACENTER,public-webproddb2-1-v_DATACENTER -c enable
