[GUS]
api_ver = v29.0
username = ""

[SESSION]
savedsession = savedsession

[LOGIN]
oauthURL = https://gus.my.salesforce.com/services/oauth2/token

[VAULT]
server = https://secretservice.dmz.salesforce.com
port = 8271
vault = cpt-ops
cert = /root/.cptops/auth/client.pem
key = /root/.cptops/auth/client.key

[BLACKSWAN]
vault = blackswan
cert = /root/.cptops/auth/cert.pem
key = /root/.cptops/auth/key.pem
